#container {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
}

.ribbon-grid-cell {
    padding: 2px;
}
.ribbon-image {
    width: 20px;
    height: 20px;
}

#info-box {
    display: flex;
    margin: auto;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #E85840;
    border: 2px solid #8e1b1b;
    padding: 3px;
}
.stack {
    display: block;
}
#info-box > .ribbon-image {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background: #FF7267;
    border: 2px solid #940C15;
    padding: 3px;
}

#info-box-row {
    display: flex;
}