html{
    font-size: 2vmax;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* text-shadow: 1px 1px 2px black; */
}

h3 {
    margin: 0;
}

.font-small {
    font-size: 0.75em;
}

.font-medium {
    font-size: 1em;
}

.font-large {
    font-size: 1.2em;
}

#container { 
    width: 100%;
}

#ribbon-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ribbon-grid-cell {
    filter: drop-shadow(0 0 3px white);
    padding: 5px;
}

.ribbon-image-small {
    width: 2em;
    min-width: 30px;
    height: 2em;
    min-height: 30px;
}

.ribbon-image-large {
    height: 100%;
    width: auto;
}

.rounded {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}

#ribbon-info-box {
    display: flex;
    margin: auto;
    background: #E85840;
    border: 2px solid #8e1b1b;
}

#available-in{
    font-weight: bold;
}

#ribbon-info-box-top {
    height:3em;
}

.stack {
    display: block;
}

.row {
    display: flex;
}

.ribbon-info-box-image-container {
    aspect-ratio: 1 / 1;
    /* width: 40px;
    height: 40px; */
    width: auto;
    text-align: center;
    align-content: center;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    background: #FF7267;
    border: 2px solid #940C15;
    padding: 3px;
}

#progress-bar {
    width: 100%;
    height: 2em;
}

#progress-bar-text {
    position: absolute;
}

#progress-bar-fill {
    /* position: absolute; */
    background-color: green;
    height: 100%;
}

.completed {
    opacity: 50%;
}

.fire-red {
    color:#FF7327;
}
.leaf-green {
    color: #00DD00;
}
.ruby {
    color: #A00000;
}
.sapphire {
    color: #0000A0;
}
.emerald {
    color: #00A000;
}
.colosseum {
    color: #B6CAE4;
}
.xd {
    color: #604E82;
}
.diamond {
    color: #AAAAFF;
}
.pearl {
    color: #FFAAAA;
}
.platinum {
    color: #999999;
}
.heart-gold {
    color: #B69E00;
}
.soul-silver {
    color: #7D7D92;
}
.black {
    color: #444444;
}
.white {
    color: #E1E1E1;
}
.black-2 {
    color: #424B50;
}
.white-2 {
    color: #E3CED0;
}
.x {
    color: #025DA6;
}
.y {
    color: #EA1A3E;
}
.omega-ruby {
    color: #AB2813;
}
.alpha-sapphire {
    color: #26649C;
}
.sun {
    color: #F1912B;
}
.moon {
    color: #5599CA;
}
.ultra-sun {
    color: #E95B2B;
}
.ultra-moon {
    color: #226DB5;
}
.sword { 
    color: #00A1E9;
}
.shield {
    color: #BF004F;
}
.brilliant-diamond {
    color: #44BAE5;
}
.shining-pearl {
    color: #DA7D99;
}
.legends-arceus {
    color: #36597B;
}
.scarlet {
    color: #F34134;
}
.violet { 
    color: #8334B7;
}