.table-header {
    background: red;
    position: sticky;
    top: 2px;
    z-index: 10;
}

table { 
    width: 100%;
}

tbody {
    display: block;
    overflow: scroll;
    resize: vertical;
}

tr:nth-child(even) {
    background-color: rgba(0,0,0, .1);
}

select, input[type="text"] {
    width: 12em;
}

.flex {
    display: flex;
    gap: 0.5em;
}

.flex-col{
    display: flex;
    flex-direction: column
}

.flex-row{
    display: flex;
    justify-content: space-between;
}

.rounded-corner {
    border-radius: 1em;
    padding: 0.5em;
}

.icon {
    height: 56/2px;
    width: 68/2px;
}

#obs_status {
    font-weight: bold;
}

.disconnected {
    color: maroon;
}

.connected {
    color: green;
}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em
}

.monIcon{
    height: 56px;
    width: 56px;
    background-color: gainsboro;
}

.scoreDisplay {
    font-size: 5em;
    margin: 0;
}

.scoreButton {
    width: 2em;
    height: 2em;
}