.table-header {
    background: red;
    position: sticky;
    top: 2px;
    z-index: 10;
}

table { 
    width: 100%;
}

tbody {
    display: block;
    overflow: scroll;
    resize: vertical;
}

tr:nth-child(even) {
    background-color: rgba(0,0,0, .1);
}

select, input[type="text"] {
    width: 12em;
}

.flex {
    display: flex;
}

.icon {
    height: 56/2px;
    width: 68/2px;
}

#obs_status {
    font-weight: bold;
}

.disconnected {
    color: maroon;
}
.connected {
    color: green;
}

.dashboard {
    display: flex;
    justify-content: space-between;
}

.playerModule {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.monModule {
    
}