/* 
    red: #FFD4D4
    blue: #E9DEFF
    torkoal-orange: #E89244
    torkoal-grey: #5E5E5E
 */

.table-header {
    position: sticky;
    top: 0px;
    z-index: 10;
    background: white;
}

#players_table_header .rounded-corner-small {
    height: 100%;
    background: #ED533A;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px #AAA;
}

body {
    /* color: #333333; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table { 
    height: 100%;
    border-spacing: 0.5em;
    table-layout: fixed;
    width: 100%;
    min-width: 720px;
}

/* tbody {
    display: block;
    overflow: scroll;
    resize: vertical;
} */

tr:nth-child(even) td .rounded-corner-small{
    background-color: rgba(0,0,0, .1);
    height: 100%;
}

tr:nth-child(odd) td .rounded-corner-small{
    background-color: rgba(0,0,0, .05);
    height: 100%;
}

tr{
    gap: 0.2em;
    height: 100%
}

th{
    height: 100%;
}

ol {
    padding-left: 1.3em;
}

li::marker {
    font-weight: bold;
    font-size: 1.1em;
    margin: 0;
}

select, input[type="text"], .sourceSelect {
    width: 12em;
    max-width: 100%;
}

input, select {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.bold {
    font-weight: bold;
}

.font-small{
    font-size: 0.75em;
}

.center {
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    gap: 0.5em;
}

.flex-col{
    display: flex;
    flex-direction: column
}

.flex-row{
    display: flex;
    justify-content: space-between;
}

.rounded-corner {
    border-radius: 1em;
    padding: 0.5em;
}

.rounded-corner-small{
    border-radius: 4px;
}

#obs_status {
    font-weight: bold;
}

.disconnected {
    color: maroon;
}

.connected {
    color: green;
}

@media only screen and (max-width: 800px) {
    #view {
      flex-direction: column;
      align-items: center;
    }
}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em
}

.monModule {
    background: linear-gradient(to left ,transparent, antiquewhite);
    border-radius: 5px;
}

.monIcon {
    height: 5.5em;
    width: 5.5em;
    background-color: gainsboro;
    border-radius: 5px;
}

.monInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.scoreDisplay {
    font-size: 5em;
    margin: 0 0 0 0.25rem;
}

.scoreButton {
    width: 2em;
    height: 2em;
}

.square {
    width: 2em;
    height: 2em;
    padding: 0;
}

.heading {
    text-align: center;
    background-color: antiquewhite;
    padding: 0.2em;
    box-shadow: 1px 1px 10px #AAA;
}

#players {
    overflow-x: scroll;
    /* min-height: 11em;
    max-height: min-content;
    resize: vertical; */
    margin-bottom: 4em;
}

#playerImport {
    margin-right: 1em;
}